body {
background: url('character-images/moeTavern.jpg') 100%;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
background-size: cover;
}

.clearfix {
  overflow: auto;
}

#game-container1 {
  display:inline-block;
  width: 50%;
  float:left;
}

#game-container2 {
  display: inline-block;
  width: 50%;
  float:right;
}

.board {
  width: 350px;
  height: 300px;
  border: solid black;
  background-color: green;
}

.hand {
  width: 350px;
  height: 100px;
  border: solid black;
  background-color: #a98355;
}

.diceImg {
  width: 30px;
  height: 30px;
}


.dice1 {
  border: #999 1px solid;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  float: left;
  margin: 5px;
  text-align: center;
  background-color: #F5F5F5;

}

.dice2 {
  border: #999 1px solid;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  float: left;
  margin: 5px;
  text-align: center;
  background-color: #F5F5F5;
}

#status {
  color: red;
  font-size: 30px;
  background: black;
  display: inline-flex;

}

#score {
  font-size: 30px;
  color: red;
  background: black;
  display: inline-flex;
}

#roll-but1 {
  width: 100px;
  height: 50px;
  background-color: red;
}

#roll-but2 {
  width: 100px;
  height: 50px;
  background-color: red;
}

#starting {
  width: 150px;
  height: 50px;
  background-color: red;
  font-size: 2em;
  color: white;
  position: absolute;
  right: 35%;
}

#homer {
  float: left;
}

#barney {
  float: right;
}

.hold {
  width: 100px;
  height: 50px;
  background-color: yellow;
}

#reset {
  width: 100px;
  height: 50px;
  margin-left: 300px;
}

h2 {
  color: white;
  background-color: orange;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  top: 5%;
}

#restart{
  width: 100px;
  height: 50px;
}
