

#game-container1 {
  display:inline-block;
}

#game-container2 {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 2%;
  top: 1%;
}

.board {
  width: 350px;
  height: 300px;
  border: solid black;
}

.hand {
  width: 350px;
  height: 100px;
  border: solid black;
}


.dice1 {
  border: #999 1px solid;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  float: left;
  margin: 5px;
  text-align: center;
  background-color: #F5F5F5;
}

.dice2 {
  border: #999 1px solid;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  float: left;
  margin: 5px;
  text-align: center;
  background-color: #F5F5F5;
}

#status {
  color: red;
}









